.marketplace-container {
  display: flex;
  flex-direction: column;
}

.marketplace-title-container {
  width: 80%;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 auto 20px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.marketplace-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.filter-column {
  width: 20%;
}

.buddies-column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px;
}

.cart-column {
  width: 20%;
}

.marketplace-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .marketplace-title-container {
    width: 90%;
  }

  .marketplace-content {
    width: 90%;
  }

  .filter-column {
    width: 20%;
  }
  
  .buddies-column {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  
  .cart-column {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .marketplace-container {
    align-items: center;
  }

  .marketplace-title-container,
  .marketplace-content {
    width: 98%;
  }

  .filter-column {
    width: 100%;
    margin: 0 auto 20px auto;
    align-items: center;
    text-align: center;
  }

  .buddies-column {
    width: 100%;
    justify-content: center;
  }

  .cart-column {
    width: 100%;
  }
}
