/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set background color */
html, body {
  background-color: orange;
  min-height: 100vh;
}

/* Remove white border */
#root {
  height: 100%;
}